@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import "tailwindcss";

:root {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #005E5E;
}

header {
    font-weight: 500;
    font-size: 1.1rem;
}

nav a:hover {
    color: #1BB740;
}

h1 {
    font-size: 2rem;
}
