{
  "annotations": { "list": [] },
  "editable": false,
  "graphTooltip": 1,
  "links": [],
  "panels": ${panels},
  "refresh": "",
  "schemaVersion": 39,
  "tags": ["heartbeat", "${report}"],
  "templating": { "list": [] },
  "time": { "from": "${default_from}", "to": "now" },
  "timepicker": {},
  "timezone": "utc",
  "title": "${title}",
  "uid": "${uid}",
  "description": "${description}",
  "weekStart": ""
}
