name: Workflow for testing Next.js deployment workflow

on:
  push:
    branches:
      - feature/cicd-overhaul-setup
    paths:
      - '.github/workflows/test_workflows.yml'

permissions:
  contents: read
  id-token: write

jobs:
  test-workflows:
    name: Test Backend Deployment Workflow
    uses: ./.github/workflows/deploy-nextjs-opennext.yml
    with:
      environment: dev
      dry-run: true
    secrets: inherit
