name: Workflow for testing docs deployment workflow

on:
  push:
    branches:
      - feature/cicd-overhaul-setup
    paths:
      - '.github/workflows/test_workflows.yml'

permissions:
  contents: read
  id-token: write

jobs:
  tofu-apply-pr:
    name: OpenTofu Apply (dev)
    uses: ./.github/workflows/deploy-docs.yml
    with:
      environment: dev
    secrets: inherit

