name: Workflow for testing apps infrastructure changes

on:
  push:
    branches:
      - feature/cicd-overhaul-setup
    paths:
      - '.github/workflows/test_workflows.yml'

permissions:
  contents: read
  id-token: write

jobs:
  tofu-apply-pr:
    name: OpenTofu Apply (dev)
    uses: ./.github/workflows/tofu.yml
    with:
      environment: pr         # IMPORTANT: composites map non-prod -> dev anyway
      apply: false
      tofu_version: "1.9.0"
    secrets: inherit

    