name: Workflow for testing Backend Deployment workflow

on:
  push:
    branches:
      - feature/cicd-overhaul-setup
    paths:
      - '.github/workflows/test_workflows.yml'

permissions:
  contents: read
  id-token: write

jobs:
  deploy-backend:
    name: Deploy Backend Deployment Workflow
    uses: ./.github/workflows/deploy-backend.yml
    with:
      environment: dev
    secrets: inherit

  deploy-nextjs-opennext:
    name: Deploy Next.js OpenNext Deployment Workflow
    uses: ./.github/workflows/deploy-nextjs-opennext.yml
    with:
      environment: dev
      dry-run: false
    secrets: inherit